
body, html {
	width: 400px;
	margin: auto;
	margin-top: 20px;
	padding: 0;
	color: #000;
	font-family: arial, tahoma, verdana;
	background: #fff;
}
a, a:hover {
	color:#2018FF;
}


.center {
	text-align: center;
	}

h2 {
	
	color: blue;
	font-style: italic;
}

.element{
	background-color: #dfd; margin: 1em; padding: 0.5em; border: thin dotted;
	}
	
.note{
	color: red;
	font-size: 15px;	
	}
